<div>
<strong>Message sent by:</strong><br />
<%= @message[:firstname]%> <%= @message[:lastname] %><br />
Company: <%= @message[:company_name] %><br />
Telephone: <%= @message[:telephone] %><br />
Email: <%= @message[:email] %><br /><br />

<strong>Message:</strong><br />
<%= @message[:enquiry] %>
</div>
