<%= f.error_messages %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :role %>
  <%= f.text_field :role %>
</div>
<div>
  <%= f.label :salary %>
  <%= f.text_field :salary %>
</div>
<div>
  <%= f.label :location %>
  <%= f.text_field :location %>
</div>
<div>
  <%= f.label :duration %>
  <%= f.text_field :duration %>
</div>
<div>
  <%= f.label :key_skills %>
  <%= f.text_area :key_skills %>
</div>
<div>
  <%= f.label :role_description %>
  <%= f.text_area :role_description %>
</div>
