<%= f.error_messages %>
<div class="row">
  <%= f.text_field :role, :class => "text", :wrapper_class => "cell" %>
</div>
<div class="row">
  <%= f.text_field :salary, :class => "text", :wrapper_class => "cell" %>
  <%= f.text_field :location, :class => "text", :wrapper_class => "cell" %>
</div>
<div class="row">
  <%= f.text_area :role_description, :wrapper_class => "cell" %>
</div>
