<div>
  Role:<%=h @vacancy.role %>
</div>
<div>
  Category:<%=h @vacancy.category.to_s %>
</div>
<div>
  Salary:<%=h @vacancy.salary %>
</div>
<div>
  Location:<%=h @vacancy.location %>
</div>
<div>
  Role description:<%= @vacancy.role_description %>
</div>
