<div>
  <%= @vacancy.title %>
</div>
<div>
  <%= @vacancy.role %>
</div>
<div>
  <%= @vacancy.salary %>
</div>
<div>
  <%= @vacancy.location %>
</div>
<div>
  <%= @vacancy.duration %>
</div>
<div>
  <%= @vacancy.key_skills %>
</div>
<div>
  <%= @vacancy.role_description %>
</div>
