<div>
  Role:<%= Sanitize.clean(@vacancy.role) %>
</div>
<div>
  Category:<%= Sanitize.clean(@vacancy.category.to_s) %>
</div>
<div>
  Salary:<%= Sanitize.clean(@vacancy.salary) %>
</div>
<div>
  Location:<%= Sanitize.clean(@vacancy.location) %>
</div>
<div>
  Role description:<%= @vacancy.role_description %>
</div>
