<div class="wrap">
  <div class="heading">
    <a href="/vacancies" class="back">Back to all vacancies</a>
    <h1>Job vacancy</h1>
  </div>
</div>
<div class="wrap">
  <div class="vacancy">
    <dl class="props">
      <dt>Role:</dt>
      <dd><%= Sanitize.clean(@vacancy.role) %></dd>
      <dt>Salary:</dt>
      <dd><%= Sanitize.clean(@vacancy.salary) %></dd>
      <dt>Location:</dt>
      <dd><%= Sanitize.clean(@vacancy.location) %></dd>
    </dl>
    <div class="apply-box">
      <p>
        <% if current_user %>
        <strong>Hi <%= Sanitize.clean(current_user.firstname.camelize) %>, </strong>
        <% end %>
      </p>
      <p>Click the button below to apply for this job online.</p>
      <% form_for @vacancy, :url => { :action => "apply" } do |f| %>
      <% if current_user %>
      <%= f.submit "Apply for this role" %>
      <% else %>
      <a href="/candidate-login" class="btn04">Apply for this role </a>
      <% end %>
      <% end %>
      <p>Alternatively call 01491 874 111</p>
    </div>
    <div class="text">
      <div class="text-holder">
        <p><%= @vacancy.role_description %></p>
      </div>
      <% unless @vacancy.staff.nil? %>
      <p><%= @vacancy.staff.to_s %>: <%= mail_to @vacancy.staff.email, @vacancy.staff.email, :encode => "hex" %></p>
      <% end %>
    </div>
  </div>
</div>
