<% form_for @user do |f| %>
<%= f.error_messages %>
<div>
  <%= f.label :login %>
  <%= f.text_field :login %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div>
  <%= f.label :password  %>
  <%= f.password_field :password %>
</div>

<div>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>
<div>
  <%= f.submit "Register" %>
</div>
<% end %>

