<% my_page_title "Client Registration" %>
<div class="wrap">
  <div class="heading">
    <h1>Create a client account</h1>
  </div>
</div>
<div class="account">
  <div class="title">
    <h2>CLIENT ACCOUNT</h2>
    <p>Manage your vacancies online and 24 hr access to our resources portal.</p>
  </div>
  <div class="register-form">
    <div class="holder">
      <% formatted_form_for @client do |f| %>
      <%= f.error_messages %>
      <div class="form-holder">
        <fieldset>
          <%= f.text_field :company_name, :label => "Company name:", :class => "txt" %>
          <%= f.text_field :firstname, :label => "First name:", :class => "txt" %>
          <%= f.text_field :lastname, :label => "Last name:", :class => "txt" %>
          <%= f.text_field :telephone, :label => "Telephone:", :class => "txt" %>
        </fieldset>
      </div>
      <div class="col2">
        <div class="form-holder">
          <fieldset>
            <%= f.text_field :email, :label => "Email:", :class => "txt" %>
            <%= f.password_field :password, :label => "Password:", :class => "txt" %>
            <%= f.password_field :password_confirmation, :label => "Confirm password:", :class => "txt" %>
	          <%= get_captcha() %>
            <%= f.submit "Create Account" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
