<% @vacancies.each do |v| %>
<% unless v.candidates.nil? %>
    <b>Vacancy:</b> <%= v.to_s %><br/>

    <table title="Candidate Applications">
    <tr>
<th>Name</th>
    <th>Telephone</th>
<th>Email</th>
    <th>CV</th>
<tr>
<% v.candidates.each do |c| %>
<tr>
<td>
<%= link_to c.to_s, admin_candidate_path(c) %>
</td>
    <td>
    <%= c.telephone %>
</td>
    <td>
    <%= mail_to c.email %>
</td>
    <td>
    <%= cv_link(c) %>
    </td>
</tr>
    <% end %>
</table>
  <% end %>
<%end %><br/><br/>
