<% my_page_title "New Candidate" %>
<div class="wrap">
  <div class="heading">
    <h1>Create a candidate account</h1>
  </div>
</div>
<div class="account">
  <div class="title">
    <h2>CANDIDATE ACCOUNT</h2>
    <p>Upload your CV and apply for jobs online.</p>
  </div>
  <div class="register-form">
    <div class="holder">
      <% formatted_form_for @candidate do |f| %>
      <div class="form-holder">
        <fieldset>
          <%= f.error_messages %>
          <%= f.text_field :firstname, :class => "txt", :label => "First name:" %>
          <%= f.text_field :lastname, :class => "txt", :label => "Last name:" %>
          <%= f.text_field :telephone, :class => "txt", :label => "Telephone:" %>
          <% f.fields_for :cv do |cv| %>
            <%= cv.file_field :item, :label => "Your CV:", :size => nil %>
          <% end %>

          <%= f.submit "Create Account" %>
        </fieldset>
      </div>

      <div class="col2">
        <div class="form-holder">
          <fieldset>
            <%= f.text_field :email, :class => "txt", :label => "Email:" %>
            <%= f.password_field :password, :class => "txt", :label => "Password:" %>
            <%= f.password_field :password_confirmation, :class => "txt", :label => "Confirm password:" %>
          </fieldset>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

