<% my_page_title "Documents" %>

<table>
  <tr>
    <th>Document Title</th>
    <th></th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%=h document.title %></td>
      <td><%= link_to "Download", document.white_paper.url(:original, false) %></td>
      <td><%= link_to "Edit", edit_admin_document_path(document) %></td>
      <td><%= link_to "Delete", [:admin, document], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>


<p><%= link_to "New Document", new_admin_document_path %></p>

