<div class="wrap">
  <h1>Contact Orbis Resourcing</h1>
</div>
<div class="wrap">
  <div id="main">
    <div class="enquiry-form">
      <div class="holder">
        <div class="form-holder">
          <% formatted_form_for :contact, :url => contact_path do |f| %>
            <fieldset>
              <%= f.text_field :company_name, :class => "txt", :label => "Company name:" %>
              <%= f.text_field :firstname, :class => "txt", :label => "First name:" %>
              <%= f.text_field :lastname, :class => "txt", :label => "Last name:" %>
              <%= f.text_field :telephone, :class => "txt", :label => "Telephone:" %>
              <%= f.text_field :email, :class => "txt", :label => "Email:" %>
              <%= f.text_area :enquiry, :cols => 10, :rows => 10, :class => "txt", :label => "Enquiry:" %>

              <%= get_captcha() %>

              <%= f.submit "Send enquiry" %>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-side">
    <h3>Telephone number</h3>
    <p class="tel">01491 874 111</p>

    <h4>Dialing from abroad?</h4>
    <p>UK: +44 (0)1491 874 111</p>

   
    <h4>Have an aversion to web forms?</h4>
    <p>Email: <a href="&#x6d;&#x61;&#x69;&#108;&#x74;&#x6f;&#x3a;&#x69;&#x6e;&#102;&#x6f;&#x40;&#x6f;&#114;&#x62;&#105;&#115;&#45;&#114;&#101;&#x73;&#111;&#x75;&#114;&#x63;&#105;&#x6e;&#103;&#x2e;&#99;&#111;&#109;?subject=Enquiry from Orbis Website">&#x69;&#x6e;&#102;&#x6f;&#x40;&#x6f;&#114;&#x62;&#105;&#115;&#45;&#114;&#101;&#x73;&#111;&#x75;&#114;&#x63;&#105;&#x6e;&#103;&#x2e;&#99;&#111;&#109;</a></p>

    <h4>Registered office</h4>
    <p>Orbis Resourcing Ltd<br>
Orbis House<br>
Thames Court<br>
Goring-on-Thames<br>
Berkshire<br>
RG8 9AQ</p>
    <br />
    <p><a href="http://maps.google.co.uk/maps/ms?ie=UTF8&hl=en&msa=0&msid=101829170018881223337.00048537c10e2f9dbf515&ll=51.523791,-1.136291&spn=0.00789,0.020063&t=h&z=16" target=_blank">Click here for a map</a></p>
  </div>
</div>
