    <div class="row">
      <%= f.text_field :login %>
    </div>
    <div class="row">
      <%= f.text_field :email %>
    </div>
    <div class="row">
      <%= f.text_field :firstname, :label => "First Name" %>
    </div>
    <div class="row">
      <%= f.text_field :lastname, :label => "Surname" %>
    </div>
    <div class="row">
      <%= f.text_field :telephone %>
    </div>
