<%= my_page_title "Edit account details" %>

<% form_for [:admin, @user] do |f| %>
<%= f.error_messages %>
<div>
  <%= f.label :login %>
  <%= f.text_field :login %>
</div>

<div>
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div>
  <%= f.submit "Update" %>
</div>
<% end %>

