<fieldset>
<% formatted_form_for @user_session, :url => theurl ||= user_session_path do |f| %>
  <%= f.error_messages %>
    <%= f.text_field :email, :class => "txt", :label => "Email address:" %>
    <%= f.password_field :password, :class => "txt", :label => "Password:" %>
    <%= get_captcha() %>

  <div class='buttons clearfix'>
    <%= f.submit 'Login' %>
  </div>
<% end %>
<div class="text">
  <p> <%= link_to_open "I have forgotten my password", new_password_reset_path %></p>
</div>
</fieldset>
