<div id="tabs">
  <div class="holder-tabs">
    <ul class="tabset">
      <%= li_tab 'Drafts', admin_vacancies_path(:status => :draft) %>
      <%= li_tab 'Awaiting approval', admin_vacancies_path(:status => :awaiting_approval) %>
      <%= li_tab 'Live', admin_vacancies_path(:status => :live) %>
      <%= li_tab 'Archived', admin_vacancies_path(:status => :archived) %>
    </ul>
    <a class="btn-del" href="#"><span>Delete selected</span></a>
  </div><!-- / holder-tabs -->
  <%= yield :tabbed_content %>
</div><!-- / tabs -->

